body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('Z3E9qB.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index: 10;
    position: relative;
}

main {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 1em;
    text-align: center;
    background-color: transparent;
    margin-bottom: 4em;
    z-index: 1;
    position: relative;
}

footer {
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    bottom: -30px;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: transparent !important;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light {
    color: white;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    animation: fadeInDown 0.5s ease;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-collapse {
    flex-grow: 0;
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-collapse {
        justify-content: flex-start;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: black;
}

p {
    color: black;
}

ul .navbar-nav .ml-auto > li > a > .nav-link > .active {
    color: white;
}
